<!-- <div class="container" style="background-color: powderblue;">

    <table class='table table-hover'>
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product name</th>
                <th>Description</th>
                <th>unitprice</th>
                <th>unitsinstock</th>
                <th>price</th>
                <th>categoryId</th>

            </tr>

        </thead>
        <tr *ngFor="let pro of products">
            <td>{{pro.productid}} </td>
            <td>{{pro.productname}} </td>
            <td>{{pro.desciption}} </td>
            <td>{{pro.unit_price}} </td>
            <td>{{pro.unitsinstock}} </td>
            <td>{{pro.price}} </td>
            <td>{{pro.categoryId}} </td>



        </tr>
    </table>
</div> -->
<div class="row">
    <div class="col-md-4" *ngFor="let productItem of products">
      <app-product-item [productsItem]="productItem"></app-product-item>
    </div>
  </div>